:root {
    --color:rgb(30, 144, 255, 1);
    --main-background-color:#121212;
    --background-color:rgb(26, 26, 26, 1);
}

html {
    font-size:62.5%;
    scroll-behavior: smooth;
    
}

body {}



* {
    padding:0;
    margin:0;
    box-sizing: border-box;

}

body {
    
    width:100%;
    height:100%;
    font-family: 'Nunito', sans-serif;
    
}

.hero{
    
    width: 100%;
    height:100dvh;
    background-color: rgb(20, 20, 20);
    color:white;
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    gap:70px;
    
}

#avatar {
    
    width: 200px;
    border-radius: 50%;
    border:3px solid var(--color);
    animation:avatarup 2s ease-in infinite;
    position: relative;
    
}


.allbio {
    display:flex;
    flex-direction: column;
    gap:50px;
}
.bio {
    display:flex;
    flex-direction: column;
    font-size:2rem;
    text-align: center;
}

.span {
    position:absolute;
    left:52%;
    right:0;
    top:48%;
}

#imagespan {
    background-color: var(--color);
    padding:5px;
    border-radius: 100px;
}

.nav{
   display:flex;
   justify-content: space-evenly;
   width:300px;
   text-align: center;
}

@keyframes avatarup {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

#firstfrond {
    color:var(--color);
}


#bioicon {
    color:white;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 
        color 1s ease,
        transform 1s ease,
        background-color 1s ease;
        display:flex;
        align-items: center;
}


#bioicon:hover {
    color: var(--color);
    transform: translateY(-10px);
    background-color: rgba(30, 144, 255, 0.1);
}


i{
    background-color: rgba(206, 203, 209, 0.144);
    padding:10px;
    border-radius: 50%;

}

.textaboutme {
    display:flex;
    flex-direction: column;
    gap:50px;
    width: 100%;
    margin-right:10px;
}
.imagex {
    width: 100%;

}

.skillx {
    display:flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;

}



.aboutme {
    width:100%;
    height:90dvh;
    background-color: black;
    color:white;
    display:flex;
    flex-direction: column;
 justify-content: center;
 position: relative;
 align-items: center;
 margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    gap:100px;
    
}

.skillscontainer {
    display:flex;
    text-align: center;
    align-items: center;
    max-width: 90%;
    
}






.aboutmepar {
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center; 
    text-align: left;
}
.aboutmepar p {
    max-width: 90%;
    font-size:clamp(0.5rem,5vw,2rem);
    line-height: 3rem;
    border:1px solid rgba(30, 143, 255, 0.479);
    border-radius: 20px;
    background-color: rgb(20, 20, 20);
    padding:20px;
    

}



.aboutme h1 {
    font-size: 5rem;
}

#aboutmepic{
    width: 700px;
  height: auto;   
  border-radius: 10px;
}
.about1,.about2,.about3 {
    display: flex;
    gap:10px;
    align-items: center;
}


.text1 p:nth-child(2) {
    opacity: 0.5;

    }
.text2 p:nth-child(2) {
    opacity: 0.5;
    }
.text3 p:nth-child(2) {
opacity: 0.5;
}

a{
    text-decoration: none;
}

.skillx p {
    font-size:1.5rem;
}
#bioicon2 {
    color:var(--color);
    font-size:2rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;

}

#avatar:hover {
    box-shadow: var(--color) 5px 5px 200px 5px;
}


.skills {
    width: 100%;
    height:100dvh;
    background-color: var(--main-background-color);
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left:auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right:1.5rem;
    gap:100px;
   

}

.skilsfil {
    display: flex;
    justify-self:center;
    text-align: center;
    height: 100%;
    max-width: 90%;
}

.alwasyimpr {
    text-align: center;
    font-size:1.5rem;
}
.htcs {
    display:flex;
    gap:50px;
    width: 100%;
    justify-content: center;
}
.javascriptx {
    width: 100%;
    display: flex;
    justify-content: center;
}

.skillshead {
    display:flex;
    gap:20px;
}

.htmlx {
    width:50rem;
    border-radius: 10px;
    border: 1px solid rgb(30, 144, 255, 0.5);
    height:100%;
    gap:20px;
    display: flex;
    flex-direction: column;
    padding:2rem;
    background-color: var(--background-color);
}

.cssx {
    width:50rem;
    border-radius: 10px;
    border: 1px solid rgb(30, 144, 255, 0.5);
    height:100%;
    gap:20px;
    display: flex;
    flex-direction: column;
    padding:2rem;
    background-color: var(--background-color);
}

.jsx {
    width:100rem;
    border-radius: 10px;
    border: 1px solid rgb(30, 144, 255, 0.5);
    display: flex;
    flex-direction: column;
    padding:2rem;
    background-color: var(--background-color);
    gap:20px;
   
}


.skillsmid {
    display:flex;
    flex-direction: column;
}

.skillmidpar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap:20px;
    flex-direction: column;

}

.skillmidpar:has(p) {
    font-size:1.3rem;
}


#bluetext {
    color:var(--color);
}

.headtext {
    display:flex;
    justify-content: center;
}

#headingsskills {
   margin-top:25px;
    font-size:5rem;

}


.skillsbottom:has(p) {
    font-size:1.8rem;
}

.skillsbottom1 {
    display:flex;
    gap:20px;
    align-items: center;
    
}

.skillsheading {
    color:var(--color);
}

.percent {
    color:var(--color);
}


.barhead {
    display:flex;
    justify-content: space-between;
}

.skillbottomgroup {
    display:flex;
    justify-content: space-between;
}


.ri-html5-line {
    background-color:rgb(30, 144, 255, 0.1);
    color:var(--color);
    font-size:3rem;
    border-radius: 50%;

}

.ri-time-line{
    background-color: transparent;
    
}


.ri-javascript-line{
    background-color:rgb(30, 144, 255, 0.1);
    color:var(--color);
    font-size:3rem;
    border-radius: 50%;
}



.ri-check-line {
    background-color: transparent;
    color:var(--color);
}


.skillsbar {
    width:100%;
    background-color: white;
    border-radius: 10px;
    height:10px;
}

.bar {
    width:100%;
    height:10px;
    background-color:var(--color);
    border-radius: 10px;
    animation:bar 2s linear;
}

.bar2 {
    width:50%;
    height:10px;
    background-color:var(--color);
    border-radius: 10px;
    animation:bar2 2s linear;
}


.bar3 {
    width:20%;
    height:10px;
    background-color:var(--color);
    border-radius: 10px;
    animation:bar3 2s linear;
}


#fsocial {
    width: 40px;
    height: 40px;
    transition: 
        color 1s ease,
        transform 1s ease,
        background-color 1s ease;
        width: 100%;
        height:100%;
        display:block;
        font-size: 2rem;
}

#fsocial:hover {
    color: var(--color);
    transform: translateY(-10px);
    background-color: rgba(30, 144, 255, 0.1);
}




@keyframes bar {
    from {
        width:0;
    }
    to {
        width:100%;
    }
}

@keyframes bar2 {
    from {
        width:0;
    }
    to {
        width:50%;
    }
}

@keyframes bar3 {
    from {
        width:0;
    }
    to {
        width:20%;
    }
}

.htmlpar p:nth-child(2) {
    opacity: 0.8;
}

.htmlpar p {
    font-size:1.8rem;
}



.ri-css3-line {
    background-color:rgb(30, 144, 255, 0.1);
    color:var(--color);
    font-size:3rem;
    border-radius: 50%;
}

.skilsfil {
    display:flex;
    flex-direction: column;
    gap:50px;
    align-items: center;
    justify-content: center;
}


a {
    color:white;
}


.ri-facebook-fill {
    font-size:1.5rem;
}

.ri-github-fill{
    font-size:1.5rem;
}



button{
    width: 100%;                
    padding: 0.75rem 1rem;      
    border-radius: 5px;    
    background-color: var(--color);  
    border: none; 
    color:white;
    margin-top:1rem;
    cursor:pointer;
}




.footer {
    height:15dvh;
    width: 100%;
    background-color: var(--background-color);
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:20px;

}

.footer p:nth-child(1) {
    color:var(--color);
    font-size:2rem;
}

.footer p:nth-of-type(2) {
    color:white;
}

.footersocial {
    display:flex;
    gap:20px;
}

.contact{
    height:90dvh;
    width: 100%;
    background-color: black;
    color:white;
display:flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1.5rem;
    padding-left:1.5rem;
    margin-right: auto;
    margin-left:auto;
    position: relative;
    gap:50px;
    
}

.bodyform {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.contactform {
border: 1px solid var(--color);
display: flex;
max-width: 90%;
border-radius: 10px;
}

.formleft {
display:flex;
width: 100%;
flex-direction: column;
padding:10px;
background-color:rgb(15, 14, 14);
gap:50px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
padding-top:25px;
}

#formleftheader{
    text-align: center;
    font-size:2.5rem;
}

.formright {
display: flex;
width: 100%;
flex-direction: column;
padding:25px;
background-color:var(--background-color);
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
gap:50px;

}

.socialsmedia {
    display:flex;
    gap:20px;
}

.formright p:nth-child(1) {
    font-size: 2.5rem;
    text-align: center;
}

.socialemail {
    display: flex;
    gap:5px;
    align-items: center;
}
.emailaddress{
    display: flex;
    flex-direction: column;
}

.emailaddress p:nth-child(1) {
    font-size:1.5rem;
    opacity: 0.5;
}

.emailaddress p:nth-child(2) {
    font-size:1.5rem;
}

.location {
    display: flex;
    gap:5px;
    align-items: center;
}
.locations{
    display: flex;
    flex-direction: column;
    
}

.locations p:nth-child(1) {
    font-size:1.5rem;
    opacity: 0.5;
}

.locations p:nth-child(2) {
    font-size:1.5rem;
}


.follows {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

#leftemail {
    font-size:2rem;
    margin:10px;  
    color:var(--color);
    background-color: rgb(30, 144, 255, 0.1);
}

.ri-map-pin-line {
    font-size:2rem;
    margin:10px;  
    color:var(--color);  
    background-color: rgb(30, 144, 255, 0.1);
}

.follows p:nth-child(1) {
    font-size:2rem;
}

.name{
    display:flex;
    flex-direction: column;
    gap:5px;
}

.email{
    display:flex;
    flex-direction: column;
    gap:5px;
}

.message{
    display:flex;
    flex-direction: column;
    gap:5px;
}

textarea {
    resize: none;
    font-size:1.5rem;
    outline: none;
    background-color: rgb(46, 46, 46);
    border:none;
    border-radius: 5px;
    color:white;
    padding:1rem;
}

form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 40vh;
    height: 100%;
    gap:25px;
}

label {
    font-size:1.5rem;
    
}
input {
     width: 100%;
    border-radius: 5px;
    outline:none;
    background-color: rgb(46, 46, 46);
    border:none;
    padding:1rem;
    color:white;
    
    
}

.formheader  h1 {
    margin-top:25px;
    font-size:5rem;
    
}


@media (max-width:1443px) {
    #aboutmepic {
        width: 500px;
    }
}

@media (max-width:1019px) {
    #aboutmepic {
        width: 400px;
    }
}

@media (max-width:1008px) {
    .skillscontainer {
        flex-direction: column;
        gap:50px;
        align-items: center;
        
    }

    .aboutme {
        height:100%;
        gap:100px;
    }

    #aboutmepic {
        width:100%;
        margin-bottom:10px;
        height: auto;
        max-width: 600px;
    }
    
    .aboutme h1 {
        margin-top:50px;
        
    }

    html {
        font-size:59.37%
    }

    
}

@media (max-width:881px) {

    .span {
        position:absolute;
        left:52%;
        right:0;
        top:49%;
    }
    .contactform {
        border: 1px solid var(--color);
        display: flex;
        width: 100%;
        border-radius: 10px;
        flex-direction: column;
        }
        .contact {
            height: 100%;
        }

        .formleft {
          
            padding:5px;
            gap:15px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            }

  .formright {
    display: flex;
   
    flex-direction: column;
    padding:25px;
    border-bottom-left-radius: 10px;
   border-top-right-radius: 0;
    gap:15px;
             }

    .contactform {
    margin-bottom:50px;
            }

      
.formright {
    align-items: left;
    
    }         
    
    .follows{
        margin-bottom: 20px;
    }

    input {
        width: 100%;
    }
    form {
        width: 100%;
    }

    .htcs {
        display:flex;
        gap:50px;
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }

    .skills {
        height:100%;
        padding-bottom:20px;
    }

   .htmlx, .cssx, .jsx {
    width: 100%;
   }

   .skillbottomgroup {
    flex-direction: column;
   }

   html {
    font-size:56.25%;
   }

}




@media (max-width:613px) {

    .span {
        position:absolute;
        left:52%;
        right:0;
        top:49.50%;
    }
    .text1,.text2,.text3 {
        flex-direction: column;
        text-align: center;
    }

    html {
        font-size:43.75%;
    }

}

@media (max-width:484px) {
    .skillx {
        flex-direction: column;
        gap:25px;
        align-items: center;
    }

    .about1, .about2, .about3 {
        gap: 20px;
        flex-direction: column;
        
    }

    html {
        font-size:37.75%;
    }
    .span {
        position:absolute;
        left:52%;
        right:0;
        top:50.12%;
    }
}

@media (max-width:350px) {
    .span {
        position:absolute;
        left:52%;
        right:0;
        top:50.50%;
    }
}